.settingspage {
    width: 500px;
    height: 300px;
}

.htitle {
    color: blue;
    font-size: 24px;
    text-align: center;
}

label {
    font-size: 20px;
}

.url-input {
    width: 75%;
    height: 20px;
}

.submit {
    margin-top: 10px;
    height: 26px;
}

.inputdiv {
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}

.settingsbutton {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 18px;
    user-select: none;
}

.settingsbutton:hover {
    cursor: pointer;
}

.backbutton {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 18px;
    user-select: none;
}

.backbutton:hover {
    cursor: pointer;
}

.helpButton {
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 18px;
    user-select: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
   height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.powerbutton {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.blockedurls {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.urlelement {
  border: 1px solid gray;
  padding: 5px;
}

.title {
  text-align: center;
}

.status-message {
  margin-top: 10px;
  font-size: 14px;
  min-height: 20px;
}