.settingspage {
    width: 500px;
    height: 300px;
}

.title {
    color: blue;
    font-size: 24px;
    text-align: center;
}

label {
    font-size: 20px;
}

.url-input {
    width: 75%;
    height: 20px;
}

.submit {
    margin-top: 10px;
    height: 26px;
}

.inputdiv {
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}

.settingsbutton {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 18px;
}

.settingsbutton:hover {
    cursor: pointer;
}

.backbutton {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 18px;
}

.backbutton:hover {
    cursor: pointer;
}